.country{
  border: 2px solid tomato;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
}

.flags{
  width: 320px;
  height: 160px;
  object-fit: contain  ;

}

.country-visited{
  background-color: darkgray;
}